@media (max-width: $md) {
  .product-list__list {display: block}
}
@media (max-width: $sm) {
  html, body { min-width: 320px; }
  .g-grid {padding-left: 7px;padding-right: 7px}
  #g-content{height: auto}
  .product-list,#g-content {
    display: block;
  }
  .product-list__list { display: block; margin: 0; }
}




